#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.loginInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #000;
}

.loginButton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #333;
}